@import url('https://fonts.googleapis.com/css?family=Gothic+A1');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1');


body, html {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    background-image: url("../images/LHussierBackground.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
  }

  .bg {
      background-image: url("../../images/LHussierBackground.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }


main {
  border: 1px solid #222;
  width: 450px;
  padding: 1em;
}
  p {
      background-color: none;
      font-family: 'Khula', sans-serif;
      color: white;
      margin-left: 15px;
      margin: 0;
    }

  div {
    margin: 0;
    margin-bottom: 0;
    color: white;
    background-color: none;
  }


  h1 {
      font-family: 'Gothic A1', sans-serif;
      font-size: 70px;
      color: white;
      background-color: none;
      margin-left: 30px;
      margin: 0;
    }


  h2 {
    color: white;
    background-color: none;
      font-family: 'Francois One', sans-serif;
      margin-left: 15px;
    }


  h3 {
    color: white;
    background-color: none;
        font-family: 'Arial', sans-serif;
        margin-left: 15px;
        margin: 5px;
    }


    nav {
      color: white;
      background-color: none;
      font-family: 'Marvel', sans-serif;
      padding: 3px;
      margin-top: 15px;
      margin-bottom: 0;
      text-align: center;
    }

    nav ul {
       padding-left: 0;
       list-style: none;
       color: white;
       background-color: none;
       display: inline-block;
     }

     nav li {
       color: white;
       background-color: none;
       display: inline-block;
       font-size: 15px;
       margin-right: 80px;
     }

     nav a {
       color: white;
       background-color: none;
       display: inline-block;
       text-decoration: none;
     }

     nav a:hover {
       text-decoration: underline;
     }


     ul{
       margin-bottom: 5px;
     }

    ul li {
      list-style: circle;
      color: white;
      background-color: none;
      margin: 0;
    }


  li {
      font-family: 'Khula', sans-serif;
      color: white;
      background-color: none;
      margin: 0;
    }


  a {
    color: white;
    background-color: none;
      text-decoration: none;
    }


  a:hover {
      color: #191970;
      text-decoration: underline;
    }

    img {
        float: right;
        clear: both;
    }

    * {
       box-sizing: border-box;
     }

     #header {
       grid-area: header;
       margin-top: 70px;
       text-align: center;
     }
     #picture {
       grid-area: picture;
     }
     #infoleft {
       grid-area: infoleft;
       margin-right: 60px;
       margin-left: 80px;
     }
    #inforight {
         grid-area: inforight;
     }
     #footer {
       grid-area: footer;
       background-color: #006699;
     }

     #nav {
       grid-area: nav;
     }
     #info {
       grid-area: info;
       text-align: center;
     }

     .gridA {
       display: grid;
       grid-template-columns: 2fr [content start] 2fr [content end];
       grid-template-rows: auto [content start] auto [content end];
       grid-gap: 20px;

       grid-template-areas:
       "nav nav"
       ". ."
       ". ."
       ". ."
       "header header"
       "infoleft inforight"
       "infoleft inforight"
       "footer footer"
     }

     .gridB {
       display: grid;
       grid-template-columns: 2fr [content start] 2fr [content end];
       grid-template-rows: auto [content start] auto [content end];
       grid-gap: 20px;

       grid-template-areas:
       "nav nav"
       "header header"
       "infoleft inforight"
       "infoleft inforight"
       "footer footer"
     }

     .grid div {
       border-radius: 3px;
       background-color: none;
       padding: 0.2rem;
       color: white;
     }

     .grid div:nth-of-type(2n) {
       background-color: none;
     }
